// Fonts
//@import  url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');

// Variables
@import 'variables';

$primary: #611b92;

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    font-family: 'Cormorant SC';
    margin-bottom: 50px;
}


.glow {
    box-shadow: 0 0 10px 10px #210dc9;
    Z-INDEX: 100;
}
